<div class="mt-2 ms-2 me-2 mb-0"></div>
<mat-card appearance="outlined" class="yearly-card ms-2 me-2">
  <div class="card-toolbar">
    <div class="toolbar-title">Yearly overview</div>
  </div>
  <div class="table-header">
    <div class="item">Year</div>
    <div class="item">Income</div>
    <div class="item">Expense</div>
    <div class="item">Balance</div>
  </div>
  @if (yearlyList$ | async | keyvalue; as yearlyList) { @for (yearly of
  yearlyList; track yearly) {
  <div>
    @if (yearly.value?.name) {
    <div class="table-row">
      <div class="yearly-wrapper ms-4">
        @if (yearly.value?.budgetPercentage > 0) {
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path
            class="circle"
            [attr.stroke-dasharray]="yearly.value?.budgetPercentage + ', 100'"
            d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831" />
        </svg>
        }
        <div class="position-center-absolute budget-circle"></div>
        <span class="position-center-absolute text-black">{{
          yearly.value?.name
        }}</span>
      </div>
      <div class="item text-black">
        {{ $safeNavigationMigration(yearly.value?.income) | number : '1.2-2' }}
      </div>
      <div class="item text-black">
        {{ $safeNavigationMigration(yearly.value?.expense) | number : '1.2-2' }}
      </div>
      <div
        class="item balance-value"
        [ngClass]="{
          'text-danger':
            $safeNavigationMigration(yearly.value?.expense) >
            $safeNavigationMigration(yearly.value?.income)
        }">
        @if (yearly.value?.income > yearly.value?.expense) {
        <span>+</span>
        }{{
          $safeNavigationMigration(yearly.value?.income) -
            $safeNavigationMigration(yearly.value?.expense) | number : '1.2-2'
        }}
      </div>
    </div>
    }
  </div>
  } } @else {
  <div class="d-flex flex-column align-items-center mt-4 empty-state">
    <span class="text-transparent">No Transactions</span>
  </div>
  }
</mat-card>
