<div class="mt-2 ms-2 me-2 mb-0">
  <app-tabs [user]="authService.currentUser$ | async"></app-tabs>
</div>
<mat-card class="ms-2 me-2">
  <div class="d-flex justify-content-end"></div>
  <div
    class="d-flex justify-content-between align-items-center item-row border-bottom text-transparent text-card text-black">
    <div class="item">Year</div>
    <div class="item">Income</div>
    <div class="item">Expense</div>
    <div class="item">Balance</div>
  </div>
  <div *ngFor="let yearly of yearlyList">
    <div
      *ngIf="yearly?.name"
      class="d-flex justify-content-between align-items-center item-row border-bottom text-card">
      <div class="yearly-wrapper ms-4">
        <svg
          *ngIf="yearly?.budgetPercetange > 0"
          viewBox="0 0 36 36"
          class="circular-chart">
          <path
            class="circle"
            [attr.stroke-dasharray]="yearly?.budgetPercetange + ', 100'"
            d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831" />
        </svg>
        <div class="position-center-absolute budget-circle"></div>
        <span class="position-center-absolute text-black">{{
          yearly?.name
        }}</span>
      </div>
      <div class="item text-black">{{ yearly?.income | number : '1.2-2' }}</div>
      <div class="item text-black">
        {{ yearly?.expense | number : '1.2-2' }}
      </div>
      <div
        class="item text-black"
        [ngClass]="{ 'text-danger': yearly?.expense > yearly?.income }">
        <span *ngIf="yearly?.income > yearly?.expense">+</span
        >{{ yearly?.income - yearly?.expense | number : '1.2-2' }}
      </div>
    </div>
  </div>
  <div *ngIf="yearlyList.length == 0">
    <div class="d-flex flex-column align-items-center mt-4">
      <span class="text-transparent">No Transactions</span>
    </div>
  </div>
</mat-card>
