@import "../colors.scss";

.mat-progress-bar {
  height: 8px !important;
  border-radius: 6px !important;

  .mat-progress-bar-fill::after {
    background: $primary;
    background: linear-gradient(
      90deg,
      #69bdbe 0%,
      #78b8d7 35%,
      #7be5ea 100%
    ) !important;
  }
}
