@import '../colors.scss';

button {
     font-size: 13px !important;
  
    // stroked
    &.mat-stroked-button {
      &.mat-primary {
        border-color: $primary !important;
        color: $primary !important;
      }

      &.mat-secondary {
        border-color: $secondary !important;
        color: $secondary !important;
      }

      &.mat-info {
        border-color: $blue !important;
        color: $blue !important;
      }

      &.mat-danger {
        border-color: $red !important;
        color: $red !important;
      }
    }
    // icon-button
    &.mat-icon-button {
      &.mat-primary {
        background: $custom-white;
        color: $black;
      }
    }

    // mini fab
    &.mat-mini-fab {
      &.mat-primary {
        background: $custom-white;
        color: $black;
      }
    }
}