@import '../colors.scss';

button {
     font-size: 13px !important;
  
    &.mat-stroked-button {
      &.mat-primary {
        border-color: $primary !important;
        color: $primary !important;
      }

      &.mat-secondary {
        border-color: $secondary !important;
        color: $secondary !important;
      }
    }

    &.mat-icon-button {
      &.mat-primary {
        background: $custom-white;
        color: $black;
      }
    }
}