@import '../colors.scss';

.mat-progress-bar {
    height: 8px !important;
    border-radius: 6px !important;

    .mat-progress-bar-fill::after {
        background: $primary;
        background: linear-gradient(90deg, rgba(105,189,190,1) 0%, rgba(105,189,190,1) 35%, rgba(105,190,165,1) 100%) !important;
    }
}

