@import "../colors.scss";

.cdk-overlay-backdrop {
  transition: none !important;
}

.mat-dialog-container {
  padding: 0 !important;

  .title {
    font-size: 15px;
  }
  
  .mat-dialog-title {
    background: $primary;
    background: linear-gradient(
      90deg,
      #69bdbe 0%,
      #69bdbe 35%,
      #7be5ea 100%
    ) !important;
    color: $custom-white;
    font-size: $large !important;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    padding: 5px 0px;
  }

  .mat-dialog-content {
    position: relative;
    padding: 24px;
    margin: 0;
  }
}
