<mat-card class="m-2">
 <app-back-button></app-back-button>
 <div fxLayout="column" fxLayoutAlign="center center" class="pl-3 pr-3 pt-1 pb-3 mb-4">
  <span class="title text-bold">Add new category color</span>
  <span class="text-center text-sm text-grey pl-2 pr-2" [style.max-width.px]="380">By pressing button below you can
    add your custom category color</span>
</div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start">
    <div fxLayout="column" fxFlex="65" fxFlex.lt-sm="100" class="ml-2 mr-2 mb-2 mt-4" [style.position]="'relative'">
      <div class="category-icon-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div class="category-icon-container box-shadow border" [style.border-color]="currentColor">
          <mat-icon class="material-icons-outlined category-icon icon-md" [style.color]="currentColor">waving_hand</mat-icon>
        </div>
      </div>
      <span class="text-lg text-center text-bold text-uppercase text-transparent mb-2">Color Picker</span>
      <color-sketch color="#fff" (onChangeComplete)="handleChange($event)"></color-sketch>
      <button mat-stroked-button color="primary" class="mt-3" (click)="addColor()">
        Add
      </button>
    </div>
    <div fxLayout="column" fxFlex="35" fxFlex.lt-sm="100" class="text-lg text-center text-bold text-uppercase text-transparent m-2">
      <span class="text-lg text-center text-bold text-uppercase text-transparent mb-2">My Colors</span>
      <div>
        <div fxLayout="row wrap">
          <div *ngFor="let color of data.categoryColors">
            <div class="color hover" [style.background-color]="color" (click)="changeColor(color)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>