.ngx-charts {
    text {
      fill: $black !important;
      font-weight: 500 !important;
    }
    .line-highlight {
      display: block !important;
    }
  }
  
  .gridline-path-vertical {
    display: none;
  }
  