<div class="pl-3 pr-3 pb-4">
  <div class="d-flex flex-column align-items-center hover" (click)="openBalanceModal()">
    <div class="text-sm text-transparent text-uppercase pb-1">
      Balance
    </div>
    <div class="budget-value" *ngIf="user">
      <span *ngIf="(user.inc - user.exp) + user.savings > 0">+</span>{{ (user.inc - user.exp) + user.savings | number: "1.2-2" }}
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" fxLayout="row" fxLayoutAlign="center end">
  <button mat-raised-button
    class="border-white border-bottom-left-radius-none border-bottom-right-radius-none border-top-right-radius-none"
    [routerLink]="['/latest']" [routerLinkActive]="['is-active']">
    <span class="text-semi-bold text-sm">Latest</span>
  </button>
  <button mat-raised-button
    class="border-white border-bottom-left-radius-none border-bottom-right-radius-none border-top-left-radius-none border-top-right-radius-none"
    [routerLink]="['/monthly']" [routerLinkActive]="['is-active']">
    <span class="text-semi-bold text-sm">Monthly</span>
  </button>
  <button mat-raised-button
    class="border-white border-bottom-left-radius-none border-bottom-right-radius-none border-top-left-radius-none"
    [routerLink]="['/yearly']" [routerLinkActive]="['is-active']">
    <span class="text-semi-bold text-sm">Yearly</span>
  </button>
</div>
