@if (categories$ | async; as categories) {
  @if (user$ | async; as user) {
    <div class="ml-2 mr-2 mt-2 mb-1">
      <!-- tabs -->
      <app-tabs [user]="user"></app-tabs>
      <!-- budget overview -->
      <app-budget-overview [user]="user"></app-budget-overview>
    </div>
    <div class="section-header">
      <div class="section-title">Categories</div>
      <div class="section-pill">{{ categories?.length || 0 }} items</div>
    </div>
    <mat-card
      appearance="outlined"
      [style.min-height.vh]="100"
      [style.padding-bottom.px]="78"
      class="category-card ml-2 mr-2 mb-0 mt-0">
      @if (categories) {
        @if (categories.length == 0) {
          <div class="category-empty-state hover" (click)="openAddItemDialog()">
            <mat-icon class="material-icons-outlined icon-md-lg text-transparent text-grey">
              note_alt
            </mat-icon>
            <span class="empty-title">No transactions yet</span>
            <span class="empty-copy">Tap here to add your first one</span>
          </div>
        }
        @for (category of categories; track category) {
          <div>
            @if (category && showCategories(category) && category.isVisible) {
              <div class="item border-bottom">
                <div class="item-row">
                  <div class="d-flex align-items-center">
                    <div class="category-title-container">
                      <svg viewBox="0 0 42 42" class="circle-chart">
                        <circle
                          class="donut-segment"
                          cx="21"
                          cy="21"
                          r="15.91549430918954"
                          fill="transparent"
                          attr.stroke="{{ category.color }}"
                          stroke-width="1.5"></circle>
                      </svg>
                      <mat-icon class="position-center-absolute material-icons-outlined icon-md icon-primary mr-2">
                        {{ category.icon }}
                      </mat-icon>
                    </div>
                    <div class="category-meta">
                      <span class="category-name">{{ category.name | titlecase }}</span>
                    </div>
                  </div>
                  <div class="item-summary">
                    @if (viewMode === 'inc') {
                      <div class="item-type-{{ category.type }}">
                        {{ category.inc | number : '1.2-2' }}
                      </div>
                    }
                    @if (viewMode === 'exp') {
                      <div class="item-type-{{ category.type }}">
                        {{ category.exp | number : '1.2-2' }}
                      </div>
                    }
                    <div class="item-meta-link" (click)="navigateToCategory(category._id)">
                      {{ category.transactionsCount }} transactions
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      }
    </mat-card>

    <div class="bottom-menu">
      <div class="bottom-menu-inner">
        <div class="add-item-chip" matTooltip="add new item">
          <mat-icon class="material-icons-outlined icon-lg hover" (click)="openAddItemDialog()">
            add
          </mat-icon>
        </div>
        <div class="mode-switcher">
          <div
            class="mode-pill hover"
            [ngClass]="{
              active: viewMode === 'inc',
              'pointer-events-none': user?.inc === 0
            }"
            (click)="setViewMode('inc')">
            Incomes
          </div>
          <div
            class="mode-pill hover"
            [ngClass]="{
              active: viewMode === 'exp',
              'pointer-events-none': user?.exp === 0
            }"
            (click)="setViewMode('exp')">
            Expenses
          </div>
        </div>
      </div>
    </div>
      }
    }
