@import 'colors.scss';

$small: 12px;
$medium: 14px;
$large: 16px;

.text-sm {
    font-size: $small;
}

.text-md {
    font-size: $medium;
}

.text-lg {
    font-size: $large;
}

.text-black {
    color: $black;
}