// text
.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-transparent {
    opacity: .7;
}

// link
.hover {
    cursor: pointer;
    outline: none;
}

// aligns
.vertical-align-bottom {
    vertical-align: bottom;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

// borders
.border-top-left-radius-none {
    border-top-left-radius: 0 !important;
}

.border-top-right-radius-none {
    border-top-right-radius: 0 !important;
}

.border-bottom-right-radius-none {
    border-bottom-left-radius: 0 !important;
}

.border-bottom-right-radius-none {
    border-bottom-right-radius: 0 !important;
}

// icons
.icon-lg {
    font-size: 80px !important;
    width: 80px !important;
    height: 80px !important;
    opacity: .5;
}
