@import "../../../theme/colors.scss";

.wrapper {
  .progress-container {
    position: relative;
    background: #d1d9ee;
    height: 4px;
    width: 100%;
    border-radius: 6px;

    .progress-line {
      position: absolute;
      left: 0;
      top: -2px;
      height: 7px;
      border-radius: 6px;
      background: $primary;
      background: linear-gradient(
        90deg,
        #57e9eb 0%,
        #66e4fd 50%,
        #6edcf6 100%
      ) !important;
      -webkit-box-shadow: 1px 29px 39px 7px rgba(0, 0, 0, 0.05);
      box-shadow: 1px 29px 39px 7px rgba(0, 0, 0, 0.05);
    }
  }
}
