<!-- top -->
<div class="title-container m-2 pb-2">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="p-1">
    <div class="title hover" (click)="navigateHome()">
      Budgety
    </div>
    <div>
      <mat-icon class="material-icons-outlined icon-sm" [matMenuTriggerFor]="menu">tune</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>New category</button>
        <button mat-menu-item [routerLink]="['/add-color']">New color</button>
      </mat-menu>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
