<!-- top -->
<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3">
    <div>{{ currentDate | date }}</div>
    <div>
      <mat-icon class="material-icons-outlined mr-2">description</mat-icon>
    </div>
  </div>
  <!-- mid -->
  <mat-tab-group [animationDuration]="0" color="primary">
    <mat-tab label="Latest">
      <app-latest></app-latest>
    </mat-tab>
    <mat-tab label="Monthly">
      <div fxLayout="column" fxLayoutAlign="center center" class="position-center">
        <mat-icon class="material-icons-outlined icon-lg">engineering</mat-icon>
        <div class="text-transparent">Coming Soon</div>
      </div>
    </mat-tab>
    <mat-tab label="Yearly">
      <div fxLayout="column" fxLayoutAlign="center center" class="position-center">
        <mat-icon class="material-icons-outlined icon-lg">engineering</mat-icon>
        <div class="text-transparent">Coming Soon</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>