@import '../theme/colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right {
    float: right;
}

.red {
    color: #FF5049 !important;
}

.red-focus:focus {
    border: 1px solid #FF5049 !important;
}

/**********************************************
*** TOP PART
**********************************************/

.budget__title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
    .budget__title {
        font-size: 20px;
    }
}

.budget-container {
    max-width: 450px;
    margin: 0 auto;
}

.budget__value {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
}

/***** LISTS *****/

.item {
    padding: 16px;
    height: 55px;
    border-bottom: 1px solid #e7e7e7;
}

.item__description {
    color: $black;
}

.item-icon-inc {
    color: $blue;
}

.item-icon-exp {
    color: $red;
}

.item-type-inc {
    color: $blue !important;
}

.item-type-exp {
    color: $red !important;
}

.item-delete-btn-inc {
    color: #28B9B5;
}

.item-delete-btn-exp {
    color: #FF5049;
}