<!-- top -->
<div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3">
    <div>{{ currentDate | date }}</div>
    <div>
      <mat-icon class="material-icons-outlined mr-2">description</mat-icon>
      <mat-icon class="material-icons-outlined">palette</mat-icon>
    </div>
  </div>
  <!-- mid -->
  <mat-tab-group [animationDuration]="0" color="primary">
    <mat-tab label="Latest"></mat-tab>
    <mat-tab label="Monthly"></mat-tab>
    <mat-tab label="Yearly"></mat-tab>
  </mat-tab-group>

  <div fxLayout="row" fxLayoutAlign="end center" class="pr-2 pt-2">
    <mat-icon
      class="hover"
      (click)="openAddItemDialog()"
      matTooltip="add new item"
      >add</mat-icon
    >
  </div>
  <div class="pl-2 pr-2 pb-2 pb-3">
    <div class="text-center text-sm text-transparent text-uppercase pb-1">
      Balance
    </div>
    <div class="budget__value text-center">
      <span *ngIf="data.budget > 0">+</span>{{ data.budget | number: "1.2-2" }}
    </div>
  </div>
  <!-- progress bar -->
  <div class="ml-2 mr-2 mt-2 mb-0">
    <mat-card
      class="
        custom-card
        border-bottom-left-radius-none border-bottom-right-radius-none
      "
    >
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="text-black text-sm">
          EXPENSES - {{ data.totals.exp | number: "1.2-2" }}
        </div>
        <div class="text-black text-sm">{{ data.percentage }}%</div>
      </div>
      <mat-progress-bar
        mode="determinate"
        value="{{ data.percentage }}"
      ></mat-progress-bar>
    </mat-card>
  </div>
  <!-- list -->
  <mat-card
    class="
      ml-2
      mr-2
      mb-2
      mt-0
      border-top-left-radius-none border-top-right-radius-none
    "
  >
    <div *ngFor="let item of data.items">
      <div class="item" id="inc-{{ item.id }}">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div matTooltip="{{ item.description }}">
              <mat-icon
                *ngIf="item.category"
                class="vertical-align-bottom material-icons-outlined item-icon-{{ item.type }} mr-2"
                >{{ item.icon }}</mat-icon
              ><span class="text-black">{{ item.category | titlecase }}</span>
            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center end">
            <div class="item__value item-type-{{ item.type }}">
              + {{ item.value | number: "1.2-2" }}
            </div>
            <div class="text-black text-ex-sm">
              {{ item.dateCreated | date}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
