@import "../theme/colors.scss";

nav {
  background: $custom-white;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.2)!important;
  min-height: 58px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.title {
  font-family: "Dancing Script", cursive !important;
  color: $black;
  font-size: 30px;
}
