$primary: #21bced;
$primary-light: lighten($primary, 14%);
$secondary: #64748b;
$black: #0f172a;
$light-grey: #f8fafc;
$grey: #cbd5e1;
$icon: #64748b;
$green: #10b981;
$yellow: #f59e0b;
$blue: $primary;
$dark-blue: darken($primary, 14%);
$red: #ef4444;
$orange: #f97316;
$custom-white: #ffffff;

$border: #e2e8f0;
