$primary: #179ff7;
$primary-light: #72bfff;
$secondary: #828282;
$black: #1c2a51;
$light-grey: #f7f7f7;
$grey: #bfbfbf;
$icon: #8993ac;
$green: #28b9b5;
$yellow: #ffd36f;
$blue: #0089ff;
$dark-blue: #45769f;
$red: #ff5049;
$orange: #ff8e2e;
$custom-white: #fff;

$border: #e7e7e7;
