@import "../../../theme/colors.scss";

/**********************************************
*** TOP PART
**********************************************/
.budget-container {
    max-width: 450px;
    margin: 0 auto;
}

.budget__value {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
}

/***** LISTS *****/
.item {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #e7e7e7;
}

.item__description {
    color: $black;
}

.item-icon-inc {
    color: $blue;
}

.item-icon-exp {
    color: $red;
}

.item-type-inc {
    color: $blue !important;
}

.item-type-exp {
    color: $red !important;
}

.item-delete-btn-inc {
    color: #28B9B5;
}

.item-delete-btn-exp {
    color: #FF5049;
}

.add-item-chip {
    position: absolute;
    right: 20px;
    top: -20px;
    background: #edf1fc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}