@import "../../../theme/colors.scss";

$mat-icon-size: 60px;

/**********************************************
*** TOP PART
**********************************************/
.budget-container {
  max-width: 450px;
  margin: 0 auto;
}

.budget__value {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 2px;
}

/***** LISTS *****/
.item {
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #e7e7e7;
}

.item__description {
  color: $black;
}

.item-icon-inc {
  color: $blue;
}

.item-icon-exp {
  color: $red;
}

.item-type-inc {
  color: $blue !important;
}

.item-type-exp {
  color: $red !important;
}

.item-delete-btn-inc {
  color: #28b9b5;
}

.item-delete-btn-exp {
  color: #ff5049;
}

.add-item-chip {
  position: fixed;
  left: 50%;
  bottom: -17px;
  width: $mat-icon-size;
  height: $mat-icon-size;
  background: $custom-white;
  border: 1px solid $border;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  // box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
  //   0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);

  .mat-icon {
    font-size: $mat-icon-size;
    color: $primary;
  }
}

.bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  height: 50px;
  background: $custom-white;
  border-top: 1px solid $border;
}


