/* You can add global styles to this file, and also import other style files */
@import 'theme/spacing-mixin.scss';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
