/* You can add global styles to this file, and also import other style files */
@import "theme/spacing-mixin.scss";
@import "theme/colors.scss";
@import "theme/utilities.scss";

@import "theme/material/mat-tab.scss";
@import "theme/material/mat-card.scss";
@import "theme/material/mat-dialog.scss";
@import "theme/material/mat-button.scss";
@import "theme/material/mat-progress.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $primary;
  background: linear-gradient(
    90deg,
    #69babe 0%,
    #87cbd2 35%,
    #6cc8dd 100%
  ) !important;
  color: $custom-white;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  color: $black !important;
}

.relative {
  position: relative;
}

.custom-card {
  opacity: 0.8;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}
