/* You can add global styles to this file, and also import other style files */
@import 'theme/spacing-mixin.scss';
@import 'theme/colors.scss';
@import 'theme/utilities.scss';

@import 'theme/material/mat-tab.scss';
@import 'theme/material/mat-card.scss';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: $primary !important;
    color: $custom-white;
}

.relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}