@import "../../../theme/colors.scss";

$chartSize: 150px;

.category-icon-container {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 20%;
    background: $custom-white;

    .category-icon {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

/*** chart ***/
.category-title-container {
    position: relative;
    width: $chartSize;
    height: $chartSize;

    .circle-chart {
        width: $chartSize;
        height: $chartSize;
    }
}

/*** menu ***/
.menu {
    position: absolute;
    top: 15px;
    right: 15px;
}

/*** list ***/
.item {
    padding: 8px;
    border-bottom: 1px solid #e7e7e7;
}

.item__description {
    color: $black;
}

.item-type-inc {
    color: $green !important;
}

.item-type-exp {
    color: $red !important;
}

.item-delete-btn-inc {
    color: #28b9b5;
}

.item-delete-btn-exp {
    color: #ff5049;
}

.test {
    position: relative;
}

.line-item {
    padding: 0 0 20px 10px;
    margin-top: -2px;
    border-left: 2px solid $primary;
    position: relative;
}

.line-item::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    left: -8px;
    top: 0px;
    background: #fff;
    border: 2px solid $primary;
    z-index: 9999;
}
