<mat-card [style.min-height.px]="600" class="ml-2 mr-2 mb-0 mt-0">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="category-icon-container box-shadow border" [style.border-color]="category.color">
      <mat-icon class="material-icons-outlined position-center-absolute icon-md-lg mr-2" [style.color]="category.color">{{
        category.icon }}</mat-icon>
    </div>
    <div class="text-lg text-bold text-uppercase mt-3">{{category.name}}</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="category-title-container">
      <svg width="100%" height="100%" viewBox="0 0 42 42" class="circle-chart">
        <circle cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="1.5">
        </circle>
        <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          attr.stroke="{{category.color}}" stroke-width="1.5"
          attr.stroke-dasharray="{{category.incPercentage}} {{100 - category.incPercentage}}" stroke-dashoffset="25">
        </circle>
      </svg>
      <div class="position-center-absolute">
        <div class="text-md">Incomes:</div>
        <div class="item-type-inc">{{category.inc | number: "1.2-2"}}</div>
      </div>
    </div>
    <div class="category-title-container">
      <svg width="100%" height="100%" viewBox="0 0 42 42" class="circle-chart">
        <circle cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
        <circle cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="1.5">
        </circle>
        <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
          attr.stroke="{{category.color}}" stroke-width="1.5"
          attr.stroke-dasharray="{{category.expPercentage}} {{100 - category.expPercentage}}" stroke-dashoffset="25">
        </circle>
      </svg>
      <div class="position-center-absolute">
        <div class="text-md">Expenses:</div>
        <div class="item-type-exp">{{category.exp | number: "1.2-2"}}</div>
      </div>
    </div>
    <div class="menu">
      <mat-icon class="material-icons-outlined icon-md icon-primary mr-2 hover" matTooltip="change color">palette
      </mat-icon>
    </div>
  </div>
  <div *ngFor="let item of category.items">
    <div class="item" id="inc-{{ item.id }}">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="center center" matTooltip="{{ item.description }}">
          <span class="text-black">{{ item.description || category.name | titlecase }}</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="center end">
          <div class="item__value item-type-{{ item.type }}">
            <span *ngIf="item.type === 'inc'">+</span>
            <span *ngIf="item.type === 'exp'">-</span>
            {{ item.value | number: "1.2-2" }}
          </div>
          <div class="text-black text-transparent text-ex-sm">
            {{ item.dateCreated | date: "dd/MM/yy" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>