<mat-card *ngIf="category" [style.min-height.px]="600" [style.margin-top.px]="15" class="ml-2 mr-2 mb-0 p-0">
  <div [style.height.px]="110">
    <div class="category-icon-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <div class="category-icon-container box-shadow border mb-2" [style.border-color]="category.color">
        <mat-icon class="material-icons-outlined category-icon icon-lg" [style.color]="category.color">{{
          category.icon }}</mat-icon>
      </div>
      <div class="text-lg text-center text-bold text-uppercase text-transparent">
        Category
      </div>
      <div class="text-bold text-md">
        {{category.name}}
      </div>
    </div>
  </div>
  <app-back-button></app-back-button>
  <div class="menu-right hover">
    <mat-icon class="material-icons-outlined" matTooltip="add transaction">add</mat-icon>
  </div>
  <div fxLayout="row" class="pt-2">
    <ngx-charts-line-chart *ngIf="chartData" [results]="chartData" [showGridLines]="true" [showYAxisLabel]="false"
      [scheme]="colorScheme" [xAxis]="true" [yAxis]="true" [gradient]="true" [curve]="curve">
    </ngx-charts-line-chart>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center" class="pl-4 pr-4 pt-1 pb-1 mt-4 mb-4">
    <div [style.width.%]="100" class="mb-1" *ngIf="category.inc > 0">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
        <div class="text-black text-md">
          Incomes
          <span class="text-transparent">{{
            category.inc | number: "1.2-2"
            }}</span>
        </div>
        <div class="text-black text-md">{{ category.incPercentage }}%</div>
      </div>
      <app-progress-bar [percentage]="category.incPercentage"></app-progress-bar>
    </div>
    <div [style.width.%]="100" class="mt-1" *ngIf="category.exp > 0">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
        <div class="text-black text-md">
          Expenses
          <span class="text-transparent">{{
            category.exp | number: "1.2-2"
            }}</span>
        </div>
        <div class="text-black text-md">{{ category.expPercentage }}%</div>
      </div>
      <app-progress-bar class="exp-progress-bar" [percentage]="category.expPercentage"></app-progress-bar>
    </div>
  </div>
  <div class="pl-4 pr-4 pt-1 pb-1">
    <div *ngFor="let item of category.items; let i = index" class="line-item">
      <span class="chip text-black text-bold text-transparent text-ex-sm">{{ item.dateCreated | date: "dd/MM/yy"
        }}</span>
      <div class="item" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="center center" matTooltip="{{ item.description }}">
          <span class="text-black">{{ item.description || category.name | titlecase }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="end end">
            <div class="item__value item-type-{{ item.type }}">
              <span *ngIf="item.type === 'inc'">+</span>
              <span *ngIf="item.type === 'exp'">-</span>
              {{ item.value | number: "1.2-2" }}
            </div>
            <!-- <div class="text-black text-transparent text-ex-sm">
              {{ item.description | lowercase }}
            </div> -->
          </div>
          <div class="hover-menu ml-2">
            <mat-icon class="material-icons-outlined icon-danger hover" matTooltip="delete item"
              (click)="openConfirmDialog(item, i)">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>